@model IEnumerable<MvcApplication2.Models.MilTipi>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MilTipiIsmi)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MilTipiIsmi)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MilTipiId }) |
            @Html.ActionLink("Details", "Details", new { id=item.MilTipiId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MilTipiId })
        </td>
    </tr>
}

</table>
