@model MvcApplication2.Models.Tezgah

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Tezgah</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.TezgahKodu)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TezgahKodu)
            @Html.ValidationMessageFor(model => model.TezgahKodu)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TezgahAdi)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TezgahAdi)
            @Html.ValidationMessageFor(model => model.TezgahAdi)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
