@model IEnumerable<MvcApplication2.Models.Parti>

@{
    ViewBag.Title = "Index";
}

<h2>Partiler (@ViewBag.Toplam)</h2>

<input name = "toplam" type="hidden"  value="@ViewBag.Toplam"/>

<form id="sayfa" method="get"> 
    <input type="number" name="bas" value="@ViewBag.Bas" style="width:35px"/>atla
    - 
    <input type="number" name="getir" value="@ViewBag.Getir" style="width:35px"/>getir
    <input type="submit" value="Git" /> 
</form>
<div id="sayfalar">                   
</div>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IsEmriNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mil.AramaIsmi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MilAdedi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PartiKodu)
        </th>
        <th>
           @Html.DisplayNameFor(model => model.GirisTarihi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mil.Aciklama)
        </th>


    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IsEmriNo)
        </td>
        <td>
            @Html.ActionLink(item.Mil.AramaIsmi,"Index","Mil",new {id = item.MilId},null)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MilAdedi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PartiKodu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GirisTarihi)
        </td>

         <th>
            @Html.DisplayFor(modelItem => item.Mil.Aciklama)
        </th>

        <th>
            @Html.DisplayFor(modelItem => item.isValid)
        </th>
        @{
             int hatalarToplami = 0;
             item.Hatas.ToList().ForEach(h=> hatalarToplami +=h.HataAdet);
             }

       @* <th>  
            @Html.ActionLink(""+item.Hatas.Count(),"Index","Hata",new { PartiId = item.PartiId},null) 
        </th>   *@
            <th>@Html.ActionLink("" + hatalarToplami, "Index", "Hata", new  { PartiId= item.PartiId},null)</th>

        @{
            int tashihlerToplami =0;
            item.Hatas.ToList().ForEach(h => tashihlerToplami += h.Tashih);
        }

        <th>@Html.ActionLink("" + tashihlerToplami, "Index", "Hata", new  { PartiId = item.PartiId},null)</th> 

        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PartiId }) |
            @Html.ActionLink("Kalite Kontrol Formu", "Form", new { id=item.PartiId, form=1 }) |
            @Html.ActionLink("İmalat İş Emri Formu", "Form", new { id=item.PartiId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PartiId })
        </td>
    </tr>
}

</table>
